*,*:before,*:after
  padding: 0
  margin: 0
  box-sizing: inherit

html
  box-sizing: border-box
  max-height: 100vh
  font-size: 18px
.container 
  max-width: 90vw!important
  padding: 3rem

// colors
$white: white
$purple: #852C9A 
$black: black 
$bgc: #0C1E3C
$border: #D5D5D5
// colors

// base
h1 
  font-size: 60px!important
h2 
  font-size: 50px!important
  font-weight: normal!important
h4 
  font-weight: normal!important
p 
  margin-bottom: 0!important
.tdn 
  text-decoration: none !important
.purple 
  color: $purple
@mixin btn($color: $white, $background:  $purple)
  text-decoration: none
  color: $color
  border: none
  background: $background
  border-radius: 25px
  padding: 0.5rem 1.8rem
  text-transform: uppercase
  font-weight: bold

// first page
.page
  background: url('bgc.png') no-repeat  
  background-blend-mode: exclusion
  background-color: $bgc
  height: 100vh
.page, .page2
  .nav 
    color: $white
    display: flex
    justify-content: space-between
    .logo 
      display: flex
      align-items: center
      ul li, a
        list-style: none
        padding: 1rem
        color: $white
      a:hover 
        color: $purple
        transition: 0.6s
.content
  display: flex
  justify-content: space-between
  .text
    display: flex
    flex-direction: column
    justify-content: center
    color: $white
    margin-left: 9.5rem
  .ideas 
    img:first-child
      height: 80px
      padding-right: 1rem
    img:nth-child(2)
      height: 100px
  .include
    margin-left: 1.3rem
  .btn 
    @include btn()
  .btn:hover
    transition: 0.5s
    background: $white
    color: $purple
.center
  height: 70vh
  display: flex
  flex-direction: column
  justify-content: center
  .import
    background: $white
    border-radius: 20px
    .folder
      display: flex
      padding: 6rem 2rem 
    .msg 
      width: 100%
      padding: 5rem 0
      outline: none
      padding: 2rem
    .btn 
      @include btn($purple, $white)
      border: 2px solid $border
      margin: 0 auto
      display: flex
    .btn:hover
      transition: 0.5s
      background: $purple
      color: $white
      border: 2px solid $purple

// second page
.page2 
  background: $bgc
  height: 100vh
.second-page
  display: flex
  align-items: center
  justify-content: space-between
.care 
  width: 30vw

// third page
.loading
  display: flex
  padding: 2rem 0
  justify-content: center
  span
    border: 8px solid $border
    border-radius: 50%
    padding: 2rem  1rem
  img 
    width: 120px

  // fourth page
  .smile
    border: 8px solid $purple
    border-radius: 50%
    padding: 2rem 2rem
    background: $bgc
    img
      width: 100px
  .btn 
      @include btn($purple, $white)
      border: 2px solid $border
      margin: 0 auto
      display: flex
  .btn:hover
    transition: 0.4s
    background: $purple
    color: $white
    border: 2px solid $purple
 
// last-page
.hub
  display: flex
  height: 100vh
  justify-content: center
  align-items: center
  img 
    width: 321.62px

@media ( max-width: 950px )
  .page, .page2
     height: max-content
  .content, .second-page
    flex-direction: column
    align-self: center
    justify-content: center
  .import
    margin-left: 2.5rem
      
.active, a.active 
  border-bottom: 2px solid $white

