*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 100vh;
  font-size: 18px;
}

.container {
  max-width: 90vw !important;
  padding: 3rem;
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 50px !important;
  font-weight: normal !important;
}

h4 {
  font-weight: normal !important;
}

p {
  margin-bottom: 0 !important;
}

.tdn {
  text-decoration: none !important;
}

.purple {
  color: #852C9A;
}

.page {
  background: url("bgc.png") no-repeat;
  background-blend-mode: exclusion;
  background-color: #0C1E3C;
  height: 100vh;
}

.page .nav, .page2 .nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .nav .logo, .page2 .nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .nav .logo ul li, .page .nav .logo a, .page2 .nav .logo ul li, .page2 .nav .logo a {
  list-style: none;
  padding: 1rem;
  color: white;
}

.page .nav .logo a:hover, .page2 .nav .logo a:hover {
  color: #852C9A;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-left: 9.5rem;
}

.content .ideas img:first-child {
  height: 80px;
  padding-right: 1rem;
}

.content .ideas img:nth-child(2) {
  height: 100px;
}

.content .include {
  margin-left: 1.3rem;
}

.content .btn {
  text-decoration: none;
  color: white;
  border: none;
  background: #852C9A;
  border-radius: 25px;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

.content .btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: white;
  color: #852C9A;
}

.center {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .import {
  background: white;
  border-radius: 20px;
}

.center .import .folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 2rem;
}

.center .import .msg {
  width: 100%;
  padding: 5rem 0;
  outline: none;
  padding: 2rem;
}

.center .import .btn {
  text-decoration: none;
  color: #852C9A;
  border: none;
  background: white;
  border-radius: 25px;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #D5D5D5;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center .import .btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #852C9A;
  color: white;
  border: 2px solid #852C9A;
}

.page2 {
  background: #0C1E3C;
  height: 100vh;
}

.second-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.care {
  width: 30vw;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading span {
  border: 8px solid #D5D5D5;
  border-radius: 50%;
  padding: 2rem  1rem;
}

.loading img {
  width: 120px;
}

.loading .smile {
  border: 8px solid #852C9A;
  border-radius: 50%;
  padding: 2rem 2rem;
  background: #0C1E3C;
}

.loading .smile img {
  width: 100px;
}

.loading .btn {
  text-decoration: none;
  color: #852C9A;
  border: none;
  background: white;
  border-radius: 25px;
  padding: 0.5rem 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #D5D5D5;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading .btn:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #852C9A;
  color: white;
  border: 2px solid #852C9A;
}

.hub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hub img {
  width: 321.62px;
}

@media (max-width: 950px) {
  .page, .page2 {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .content, .second-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .import {
    margin-left: 2.5rem;
  }
}

.active, a.active {
  border-bottom: 2px solid white;
}
/*# sourceMappingURL=style.css.map */